@media (max-width: 768px){
  #menu-toggle ~ .menu {
    margin: 0px;
    padding: 0;
    border: 0;
    transition:  0.2s;
    height: 100vh;
    width: 80%;
    position: absolute;
    margin-top: 50px;
    left: -30rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Open */
  #menu-toggle:checked ~ .menu {
    height: 100vh;
    padding: 1.5em;
    position: absolute;
    transition:  1s;
    left: 0;
    top: 49px;
    background:#0C2738;
    border-right: 1px solid #8AC9F9;
    display: flex;
    justify-content: end;
  }

}


@media only screen and (min-width:0px) and (max-width:768px) {
  .div-logo {
    width: 60%;
}
.info-header {
  width: 85%;
  text-align: end;
  padding-top: 130px;
  padding-right: 12px;
  padding-left: 20px;
}
.info-header img {
  width: 301px;
}
.main-info {
  padding-right: 0;
  padding-left: 0;
  align-items: inherit;
  justify-content: flex-end;
}
header{
  height: 75vh;
}
.menu-button-container{
  height: 100%;
  display: flex;
  align-items: center;
}

button.btn-action {
  float: right;
  margin-top: 40px;
}

.carousel-indicators {
  flex-direction: column;
  width: 12px;
  margin: 0 11px!important;
}

.carousel-indicators [data-bs-target] {
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
    
}
#menu-toggle ~ .menu {
  margin: 0px;
  padding: 0;
  border: 0;
  transition:  0.2s;
  height: 100vh;
  width: 80%;
  position: absolute;
  margin-top: 50px;
  left: -30rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Open */
#menu-toggle:checked ~ .menu {
  height: 100vh;
  padding: 1.5em;
  position: absolute;
  transition:  1s;
  left: 0;
  top: 49px;
  background:#0C2738;
  border-right: 1px solid #8AC9F9;
  display: flex;
  justify-content: end;
}

.widthCard {
  width: 100%;
  max-width: 300px;
}
section.about {
  padding-top: 40px;
  height: 130vh;
}
.fondoInfo {
  height: 100%;
}
.textAbout {
  padding: 0;
  width: 100%;
  max-width: 95%;
  height: 60%;
  padding-right: 30px;
  padding-left: 20px;
  bottom: 0;
}
.mainInfo {
  width: 100%;
  }
  .fondoInfo img {
    object-fit: cover;
    object-position: left;
    height: 100%;
    width: 100%;
}
.bottomCard{
  margin-bottom: 50px;
}
.small-text {
  font-size: 12px;
}
.menuFooter .menu{
  display: none;
}
.menuFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

}
@media (max-width:1024px){
  .menu-button-container{
    display: flex;
  } 
  /* Close */
  #menu-toggle ~ .menu {
    margin: 0px;
    padding: 0;
    border: 0;
    transition:  0.2s;
    height: 100vh;
    width: 80%;
    position: absolute;
    margin-top: 50px;
    left: -60rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Open */
  #menu-toggle:checked ~ .menu {
    height: 100vh;
    padding: 1.5em;
    position: absolute;
    transition:  1s;
    left: 0;
    top: 49px;
    background:#0C2738;
    border-right: 1px solid #8AC9F9;
    display: flex;
    justify-content: end;
  }
  .menu > li {
    margin: 0;
      padding: 1.5em 0;
      width: 100%;
  }
  .menu > li > a{
    color: white;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #8AC9F9;
  }
}

@media only screen and (min-width:768px) and (max-width:1024px)  {
  .info-header {
    width: 75%;
    text-align: end;

    }
.menu-button-container{
  display: flex;
} 
.info-header img {
  width: 350px;
}
/* Close */
#menu-toggle ~ .menu {
  margin: 0px;
  padding: 0;
  border: 0;
  transition:  0.2s;
  height: 100vh;
  width: 80%;
  position: absolute;
  margin-top: 50px;
  left: -60rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Open */
#menu-toggle:checked ~ .menu {
  height: 100vh;
  padding: 1.5em;
  position: absolute;
  transition:  1s;
  left: 0;
  top: 49px;
  background:#0C2738;
  border-right: 1px solid #8AC9F9;
  display: flex;
  justify-content: end;
}
.menu > li {
  margin: 0;
    padding: 1.5em 0;
    width: 100%;
}
.menu > li > a{
  color: white;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #181919;
}
.fondoInfo {
  height: 100%;
}
section.about {
  height: 110vh;
}
.fondoColor {
  height: 20vh;
}
.fondoInfo img {
  object-fit: cover;
  object-position: left top;
}
.mainInfo {
  width: 100%;
  max-width: 90%;
}

  .textAbout {
    height: 100%;
    top: 0;
    padding-bottom: 100px;
    padding-top: 275px;
    width: 65%;

}
.small-text {
  font-size: 12px;
}
.menuFooter ul li {
  border: none!important;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.menuFooter .menu {
  margin-right: 2px;
  width: 100%;
}
.bottomCard {
  margin-bottom: 0;
}
.Socials {
  width: auto;
}
div#HeaderCarousel {
  height: 100%;
  padding-bottom: 107px;
}
img.imgFondo {
  object-fit: cover;
  object-position: left;
}
.main-info{
  justify-content: flex-end;
}
.widthCard {
  width: 100%;
}



}
@media only screen and (min-width:1024px) and (max-width:1336px) {
  .fondoColor{
    height: 20vh;
  }
  section.about {
    height: 100vh;
}
  .fondoInfo {
    height: 100%;
}

div#HeaderCarousel {
 height: 100%;
  padding-bottom: 108px;
}
.small-text {
  font-size: 13px;
}
}
@media only screen and (min-width:1336px) and (min-height:1024px){

}
@media only screen and (min-width:1337px) and (max-width:1950px){
  div#HeaderCarousel {
    height: 100%;
    padding-bottom: 73px;
}
section.about {
  height: auto;
}
.fondoColor {
  height: 27vh;
}
.mainInfo, .gril {
  padding-top: 200px;
}
.fondoInfo img {
  object-position: top;
}

}
@media (max-width: 2000px){
  .img.imgFondo{
    object-fit: contain;
  }
}