@media (max-width: 768px){
  #menu-toggle ~ .menu {
    margin: 0px;
    padding: 0;
    border: 0;
    transition:  0.2s;
    height: 100vh;
    width: 80%;
    position: absolute;
    margin-top: 50px;
    left: -30rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Open */
  #menu-toggle:checked ~ .menu {
    height: 100vh;
    padding: 1.5em;
    position: absolute;
    transition:  1s;
    left: 0;
    top: 49px;
    background:#0C2738;
    border-right: 1px solid #8AC9F9;
    display: flex;
    justify-content: end;
  }
  .menuFooter li a, .text-copry a, .text-copry span {
    font-size: .7rem;
}
.info-header h1 {
  font-size: 1.5rem;
}

}

@media only screen and (min-width:0px) and (max-width:767px) {
  .div-logo {
    width: 10rem;
}
.info-header {
    width: 93%;
    text-align: center;
    padding-top: 85px;
    padding-right: 12px;
    padding-left: 20px;
}
header {
  height: 20rem;
}
.info-header h1 {
  font-size: 30px;
}
button.btn-action {
  font-size: 0.9rem;
}
img.imgFondo {
  height: 100%;
  object-fit: cover;
  position: relative;
}
div#HeaderCarousel {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.carousel-inner img{
  width: 100%;
  object-fit: cover;
}
.main-info {
  padding-right: 0;
  padding-left: 0;
  align-items: inherit;
  justify-content: flex-end;
}

.menu-button-container{
  height: 100%;
  display: flex;
  align-items: center;
}

.carousel-indicators {
  flex-direction: column;
  width: 12px;
  margin: 0 11px!important;
}

.carousel-indicators [data-bs-target] {
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
    
}
#menu-toggle ~ .menu {
  margin: 0px;
  padding: 0;
  border: 0;
  transition:  0.2s;
  height: 100vh;
  width: 80%;
  position: absolute;
  margin-top: 50px;
  left: -30rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Open */
#menu-toggle:checked ~ .menu {
  height: 100vh;
  padding: 1.5em;
  position: absolute;
  transition:  1s;
  left: 0;
  top: 49px;
  background:#0C2738;
  border-right: 1px solid #8AC9F9;
  display: flex;
  justify-content: end;
}
/* .col-md-4 {
  height: 80vh;
} */
.widthCard {
  width: 100%;
  max-width: 300px;
  max-height: 100%;
}
section.about {
  padding-top: 40px;
  height: auto;
}
.fondoInfo {
  height: 100%;
}
.textAbout {
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 45px 20px;
  bottom: 0;
  width: 100%;
  order: 2;
  position: relative;
  height: 100%;
  bottom: 0;
}
.mainInfo, .gril {
  padding-top: 85px;
}
.mainInfo {
  width: 100%;
  position: relative;
}
.fondoInfo img {
  object-fit: cover;
  object-position: left top;
  height: 50vh;
  width: 100%;
}
.copry img {
  float: right;
  height: auto!important;
  position: absolute;
  right: 0;
  height: 8vh;
  bottom: -93px;
}

.mainInfo img {
  height: 37vh;
  top: 0;
}
img.img-oculta {
  display: none;
}
.bottomCard{
  margin-bottom: 50px;
}
.small-text {
  font-size: 12px;
}
.menuFooter .menu{
  display: none;
}
.menuFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.colCard {
  height: 21rem;
}.main-infoCard h3 {
  font-size: 20px;
}
p.info-small {
  font-size: 12px;
}
.titleBlog {
  font-size: 25px;
}
.logotipo img {
  height: 100%;
  width: 100%;
}
.logotipo {
  width: 83px;
  top: var(--bs-gutter-x,-9.6rem);
}

.mt-rwb {
  margin-top: 3rem!important;
  height: auto;
}
.modal.show .modal-dialog{
  width: 100%;
  max-width: 94%;
  height: auto;
}
img.imglogotipo {
  height: auto;
  width: 30%;
}
.img-modal{
  height: auto;
}
.img-modal, .img-modal img {
  height: auto;
}
.float-left{
  margin-top: 2rem!important;
}
.imgBlog {
  border-radius: 3rem 0 0 0;
}
.rwb-texto {
  width: auto;
  top: var(--bs-gutter-x,-32.6rem);
}
.rwb-texto img {
  width: 95px;
}
.rwb-texto span {
  font-size: 20px;
}
.absolute-div {
  display: none;
}
.p-r-rwb, .p-l-rwb {
  padding-right: inherit!important;
  padding-left: inherit!important;
  height: auto;
}
.rwd-large {
  margin-top: 30px;
}
}
@media (max-width:1024px){
  .menu-button-container{
    display: flex;
  } 
  /* Close */
  #menu-toggle ~ .menu {
    margin: 0px;
    padding: 0;
    border: 0;
    transition:  0.2s;
    height: 100vh;
    width: 80%;
    position: absolute;
    margin-top: 50px;
    left: -60rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Open */
  #menu-toggle:checked ~ .menu {
    height: 100vh;
    padding: 1.5em;
    position: absolute;
    transition:  1s;
    left: 0;
    top: 49px;
    background:#0C2738;
    border-right: 1px solid #8AC9F9;
    display: flex;
    justify-content: end;
  }
  .menu > li {
    margin: 0;
      padding: 1.5em 0;
      width: 100%;
  }
  .menu > li > a{
    color: white;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #8AC9F9;
  }
}
@media (min-width: 768px){
  .w-4 , .w-3{
    width:50%!important;

}
.img-modal img {
  width: 100%;
  object-fit: contain;
}
h2.titleBlog {
  font-size: 30px;
}
.w-4, .w-3 {
  height: -webkit-fill-available!important;
  margin-top: 30px!important;
}
}
@media (min-width:1024px){
  .w-4 {
    width: 50%!important;
}
}
@media (min-width:1336px){
  .w-4 {
    width: 33%!important;
}
.w-3 {
  width: 25%!important;
}
}



@media only screen and (min-width:768px) and (max-width:1024px)  {
 
.menu-button-container{
  display: flex;
} 
.info-header img {
  width: 350px;
}
/* Close */
#menu-toggle ~ .menu {
  margin: 0px;
  padding: 0;
  border: 0;
  transition:  0.2s;
  height: 100vh;
  width: 80%;
  position: absolute;
  margin-top: 50px;
  left: -60rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Open */
#menu-toggle:checked ~ .menu {
  height: 100vh;
  padding: 1.5em;
  position: absolute;
  transition:  1s;
  left: 0;
  top: 49px;
  background:#0C2738;
  border-right: 1px solid #8AC9F9;
  display: flex;
  justify-content: end;
}
.menu > li {
  margin: 0;
    padding: 1.5em 0;
    width: 100%;
}

.col-md-4 {
  height: 80vh;
}
.menu > li > a{
  color: white;
  font-size: .7rem;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #181919;
}
.fondoInfo {
  height: 100%;
}
section.about {
  height: 48rem;
}

.fondoInfo img {
  object-fit: cover;
  object-position: left top;
}
.mainInfo {
  width: 100%;
  max-width: 90%;
  height: 100%;
}
img.img-oculta {
  height: 100%;
}
.mainInfo, .gril{
  padding-top: 8.9rem;
}
.small-text {
  font-size: 12px;
}
.menuFooter ul li {
  border: none!important;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.menuFooter .menu {
  margin-right: 2px;
  width: 100%;
}
.bottomCard {
  margin-bottom: 0;
}
.Socials {
  width: auto;
}
div#HeaderCarousel {
  height: 100%;
}
img.imgFondo {
  object-fit: cover;
  object-position: left;
}
.widthCard {
  width: 100%;
}
.main-infoCard h3 {
  font-size: 1.4rem;
}
.main-infoCard p {
  font-size: .9rem;
}
.px-5.pb-3.text-center {
  padding: 1px!important;
}
#Iconos > div > div:nth-child(3) > div > div:nth-child(4) {
  margin-top: 2rem;
}
.logotipo{
  padding-top: var(--bs-gutter-x,8.4rem);
}
.modal.show .modal-dialog{
  max-width: 85%;
}
body > section.clientes > div > div > div.col-md-4.d-flex.justify-content-center.align-items-center{
  height: auto;
}
.p-r-rwb, .p-l-rwb {
  width: 100%!important;
}
.pb2 {
  height: auto!important;
}

}

@media only screen and (min-width:1024px) and (max-width:1336px) {

/*   section.about {
    height: 75vh;
} */
  .fondoInfo {
    height: 100%;
}

div#HeaderCarousel {
 height: 100%;
  padding-bottom: 108px;
}
.small-text {
  font-size: 13px;
}
.p-top {
  width: 100%!important;
  
  padding-top: var(--bs-gutter-x-, 6.99rem)!important;
}
.floatL .textAbout {
  margin-left: 0;
}
.date {
  font-size: 20px;
  margin-right: 80px;
}
}
@media only screen and (max-width 1336px){
  .copry {

    height: 10vh;
    }
}
@media only screen and (min-width:1337px) and (max-width:1950px){

section.about {
  height: auto;
}

.mainInfo, .gril {
  padding-top: 200px;
}
.fondoInfo img {
  object-position: top;
}
.mainInfo {
  width: 88%;
}
}
@media (max-width: 2000px){
  .img.imgFondo{
    object-fit: contain;
  }
}





 @media (max-height: 500px) and (min-width: 580px) {
  .icons {
    margin: 15px 0px;
}
/* .col-md-4 {
  height: 90vh;
} */

.Socials {
  height: 20px;
}
.menuFooter ul li {
  font-size: 12px;
}
}
@media (width: 768px) and (height: 375px){
  div#HeaderCarousel {
    padding-bottom:0!important;
}

}
@media (width: 830px) and (height: 358px){
  .main-icon{
    padding-bottom: 25px;
  }
}
@media (width: 505px) and (height: 320px){
  .col-md-4.colCard {
    height: 20rem;
}

}
@media (width: 721px) and (height: 237px){
  .col-md-4.colCard {
    height: 20rem;
}

}

@media (min-width: 812px) and (min-height: 375px){
  section#Iconos {
    padding-bottom: 2.5rem;
}

}
@media (min-width: 823px) and (min-height: 411px){
  section#Iconos {
    padding-bottom: 1rem!important;
}

}
@media (min-width: 1400px){
  header, .about, #Iconos, .titleBlog,footer, section{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.rwd-large {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainInfo, .textAbout {
  padding-right: var(--bs-gutter-x,2rem);
  padding-left: var(--bs-gutter-x,0.75rem);
  padding-top: var(--bs-gutter-x,9.99rem);
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}
.gril {
  padding-top: var(--bs-gutter-x,9.99rem);
  margin-top: auto;
  width: 97%;
  left: 13px;
}
.textAbout {
  margin-right: 2rem;
  padding-top: var(--bs-gutter-x,2.99rem);
}
.small-text {
  font-size: 16px;
}
img.fondo {
  padding-top: var(--bs-gutter-x,1.2rem);
  margin-top: auto;
}
}