@media (max-width: 700px) {
  .div-logo {
    width: 60%;
}
.info-header {
  width: 100%;
}
header{
  height: 75vh;
}
/* .menu {
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
} */
.menu-button-container{
  height: 100%;
  display: flex;
  align-items: center;
}
/* #menu-toggle ~ .menu {
  height: 100vh;
  margin: 0px;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
  top: -100px;
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
}
#menu-toggle:checked ~ .menu {
  border: 1px solid #333;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
  top: 50px;
}
.menu > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background-color: #222;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
} */
.main-card{
  width: 100%;
}
.widthCard {
  width: 100%;
}
section.about {
  padding-top: 40px;
  height: 100vh;
}
.fondoInfo {
  height: 100%;
}
.textAbout {
  padding: 0;
  width: 100%;
  bottom: 0;
  height: 45%;
  padding-right: 30px;
  padding-left: 20px;
}
.mainInfo {
  width: 100%;
  }
  .fondoInfo img {
    object-fit: cover;
    object-position: left;
    height: 100%;
    width: 100%;
}


.bottomCard{
  margin-bottom: 50px;
}
.small-text {
  font-size: 12px;
}
.menuFooter .menu{
  display: none;
}
.menuFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
}
  @media (max-width: 1024px) {

.menu {

}
/* Close */
#menu-toggle ~ .menu {
  margin: 0px;
  padding: 0;
  border: 0;
  transition:  width 400ms cubic-bezier(0.23, 1, 0.32, 1);
  height: 100vh;
  width: 80%;
  position: absolute;
  margin-top: 50px;
  left: -30rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Open */
#menu-toggle:checked ~ .menu {
  height: 100vh;
  padding: 1.5em;
  transition: width 400ms cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
  left: 0;
  top: 49px;
  background:#0C2738;
  border-right: 1px solid #8AC9F9;
  display: flex;
  justify-content: end;
}
.menu > li {
  margin: 0;
    padding: 1.5em 0;
    width: 100%;
}
.menu > li > a{
  color: white;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #8AC9F9;
}

  }