@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  background: #081D2E!important;
}
* {
  color: #434343;
  font-family: "Raleway";
  box-sizing: border-box;
}
h2 {
  vertical-align: center;
}
/* SCROLLBAR CSS3 */
::-webkit-scrollbar{
  width: 8px;
  background: #dbe8ec;
}
.bg-blue{
  color: #0E7FB6;
}
.font-small{
  font-size: 20px;
}
img {
  aspect-ratio: attr(width) / attr(height);
}
::-webkit-scrollbar-button{
  width:8px;
  height: 100%;
}
::-webkit-scrollbar-track{
  background:#eeeeee;
}
::-webkit-scrollbar-thumb{
  background: #dfdfdf;
  -webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background:#3e5daa71;
}
a{
  text-decoration: none !important;
}
/* ==============MENU========================= */
.menu-secord {
  background-color: white;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
    top: 0;
    width: 100%;
    height: 100px;
}
.div-logo {
  width: 25%;
}
.text-copry a:hover {
  color: white;
  opacity: .8;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu > li {
  margin: 0 1rem;
}
.menu > li a {
  font-weight: 600;
  color: #666666;
}
li.flex-li {
  margin-right: 75px;
}
.menu > li a:hover {
  font-weight: 600;
  color: #666666;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-toggle {
  display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #424242;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: '';
  margin-top: -8px;
}
.menu-button::after {
  content: '';
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
/* =================HEADER============== */
header {
  width: 100%;
  position: relative;
  background: #081D2E;
  margin-top: 6rem;
  margin-bottom: 30px;
}
img.imgFondo {
  height: auto;
  position: relative;
  z-index: 2;
}
div#HeaderCarousel {
  position: absolute;
  top: 0;
  height: auto;
  width: 100%;
  float: right;
}
.carousel-indicators{
  top:0;
}
.mainCarousel, .carousel-item, .carousel-item img{
  height: 100%;
}

.main-info {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: auto;
  padding-right: 60px;
  padding-left: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  z-index: 2;
}
img.mask {
  position: absolute;
  top: 0;
  right: 0;
  width: 92%;
  height: 100%;
}
.info-header {
  width: 50%;
  position: relative;
  z-index: 9;
}
button.btn-action {
  background: transparent;
  outline: none;
  border: 1px solid #ffffff91;
  border-radius: 10px;
  padding: 1px 20px;
  transition: .2s;
}
button.btn-action:hover {
  border-color: #0E90CC;
}
button.btn-action a:hover{
  color: #0E90CC;
}
button.btn-action a {
  color: white;
  text-transform: uppercase;
  transition: .2s;
}
ul.menu li a:hover {
  color: #0F6494;
}
.info-header h1 {
  color: #0E90CC;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
}
.carousel-indicators {
  flex-direction: column;
  width: 12px;
  margin: 0 11px!important;
}

.carousel-indicators [data-bs-target] {
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
    
}
/* ==============SECTION DE ICONOS============================== */
section#Iconos {
  background: #0c2738;
}
.colCard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  max-height: 400px;
}
}
#Iconos{
  background-color: #0C2738;
  height: auto;
}
.iconsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-icon {
  padding-top: 50px;
  position: relative;
}

.icons {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90px;
  width: 90px;
}
.icons img {.carousel-inner
  height: 100%;
  width: 100%;
}
.main-infoCard h3 {
  color: #0E90CC;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;

}

p.info-small {
  color: white;
}
.row.fila-icons {
  position: relative;
  width: 100%;
}
.widthCard {
  width: 100%;
  max-width: 300px;
  position: relative;
  cursor: pointer;
  height: 100%;
}
.borderCard{
  height: 2.5rem;
  background: linear-gradient(to left, #113E62, #0e8bc7);
  border-radius: 20px 20px 0px 0px;
  z-index: 2;
  position: relative;
}
.colCard{
  position: relative;
}
.main-infoCard {
  padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-card {

  height: 20rem;
  border: 1px solid;
  border-radius: 20px 20px 20px 20px;
  border-top: 1px solid;
  margin-top: -13px;
  border-color: #8AC9F9;
  background: #0c2738;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 2;
}
/*=========================SECTION INFO===============================0*/
.about{
  position: relative;
}
.fondoInfo {
  position: relative;
}
.fondoColor{
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #0C2738;
  height: 10rem;
}
.mainInfo, .gril {
  position: absolute;
  top: 0;
  padding-top: 8.3rem;
  height: 100%;
  padding-right: 15px;
}
.mainInfo {
  width: 70%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body > div.fondoInfo > div.mainInfo > img {
  width: 60%;
  float: right;
}
.textAbout {
  text-align: justify;
  width: 64%;
  float: right;
  position: absolute;
  border: 0;
  right: 0;
  height: 81%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  padding-right: 80px;
}
.bold-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
.small-text {
  font-size: 17px;
  margin-bottom: 20px;
}
/*=================Footer=====================*/
.menuFooter {
  display: flex;
  align-items: center;
  justify-content:  space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.menuFooter .menu{
  margin-right: 50px;
}
.Socials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.iconsSocial i{
  color: #0591CD;
  font-size: 2rem;
  transition: 1s;
}
.iconsSocial i:hover {
  color: #2c769a;
  transform: rotateY(
45deg
);
}
.widthCard:hover {
  transform: scale(.9);
}

.widthCard {
  transition: .6s;
}
.iconsSocial, .iconsSocial i {
  height: 100%;
}
.iconsSocial {
  margin-left: 10px;
  margin-right: 5px;
}
.copry {
  position: relative;
  display: flex;
  background-image: url('../../image/footer/footer.png');
  align-items: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90px top;
}
.copry img {
  float: right;
  height: 100%;
  position: absolute;
  right: 0;
}
.text-copry a, .text-copry span {
  color: white;
}
.text-copry {
  line-height: 35px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  padding-top: 23px;
}
footer {
  position: relative;
  height: max-content;
}
.form-floating.mb-3 {
  letter-spacing: 1.5px;
}
.dropdown-item {
  cursor: pointer;
}
.logotipo img , .imglogotipo{
  width: 20%;
  order: 2;
  position: relative;
  top: 0;
  background: white;
  border-radius: 50%;
  padding: 9px;
  animation: float 6s ease-in-out infinite;
  overflow: hidden;
  transform: translatey(0px);
}
.imglogotipo{
  animation: none;
}
.logotipo{
  width: 50%;
  z-index: 1;
  position: absolute;
  top: 0;
  right: var(--bs-gutter-x,0.4rem);
  padding-top: var(--bs-gutter-x,11.4rem);
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.logotipo span{
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  font-style: oblique;
  color: white;
}
.titleBlog{
  font-size: 2.4rem;
  color: white;
  text-align: center;
  background-color: #0C2738;
}
.imgBlog{
  width: 60%;
    object-fit: cover;
    border-radius: 13rem 0 0 0;
}
@keyframes float {
	0% {/* 
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {/* 
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-20px);
	}
	100% {/* 
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}
.btn-vert {
  color: #63B1D0;
  text-decoration: none;
  margin: 5px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}

.btn-vert:hover,
.btn-vert:focus{
  color: #FFF;
}

.btn-vert {
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 200px;
  font-weight: bold;
  padding: 14px 0px;
  border: 2px solid;
  border-color: #8AC9F9;
  border-radius: 30px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  z-index: 2;
}

.btn-vert:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background: linear-gradient(to left, #113E62, #0e8bc7);
  z-index: -2;
  border-radius: 30px;
}

.btn-vert:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.btn-vert:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.modal.show .modal-dialog {
  transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 60%;
  height: 100%;
}
.modal-header {
  background: linear-gradient(to left, #113E62, #0e8bc7);
  }
  .modal-body {
    background: #0C2738;
    border: 1px solid;
    border-radius: 20px 20px 20px 20px;
    border-top: 1px solid;
    margin-top: -13px;
    border-color: #8AC9F9;
    background: #0c2738;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 2;
}
.modal-content {
  border-radius: 20px 20px 20px 20px !important;
  background-color: #0C2738!important;
  }
  li.list-group-item {
    background: none;
    color: white;
    border: none;
}
ul.list-group.list-group-flush {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}
.w-custom {
  width: 190px;
  height: 190px;
}
.w-custom .carousel-inner, .w-custom .carousel-inner .carousel-item img {
  height: 100%;
  width: 100%;
}
.w-custom img {
  border-radius: 50%;
  object-fit: cover;
  background: linear-gradient(to left, #113E62, #0e8bc7);
  padding: 5px;
}
.nameEquipo.text-center {
  border: 1px solid;
  border-color: #8AC9F9;
  margin-top: -80px;
  width: 300px;
  padding-top: 90px;
  height: auto;
}
.nameEquipo h3 {
  font-size: 21px;
}
.nameEquipo span {
  font-size: 14px;
  font-weight: bold;
}




.block {
  margin: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.block:hover .block--text {
  opacity: 1;
}
.block--img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transform: rotateX(0deg);
  transform-origin: top center;
  transition: all 300ms ease-out;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.block--text {
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 0;
  padding: 20px;
  background: linear-gradient(to left, #2b7faf, #013f69);
  color: white;
  transform: rotateX(
120deg
);
  transform-origin: bottom center;
  transition: all 300ms ease-in;
  opacity: 0;
}

.block:hover .block--text {
  transform: rotateX(0deg);
}

.block:hover .block--img {
  transform: rotateX(-120deg);
}

.text--head {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.text--quote {
  padding: 20px 10px 0px;
  font-size: 18px;
}

.text--person {
  position: relative;
  text-align: -webkit-right;
  font-weight: 600;
  bottom: -50px;
}
.text--person i {
  background: white;
  width: 70px;
  font-size: 30px;
  height: 70px;
  color: #297BAB;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #013f69;
  transition: .9s cubic-bezier(0.52, 1.1, 1, 1.12);
}
.text--person i:hover{
  background: #5db3dc;
  color: white;
  border: 3px solid white;
  transform: scale(1.2);
}
.wCustom-Card{
  height: 500px;
  margin-top: 10rem;
  margin-bottom: 6rem;
}
.clientes .slick-prev,.clientes .slick-next{
display: none!important;
}
.iconosClient {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to left, #113E62, #0e8bc7);
  border-radius: 50%;
  padding: 4px;
/*   width: 145px!important; */
}
.iconosClient img:hover {
  filter: none;
  transform: scale(1);
  padding: 2px;
}
.iconosClient img {
  width: 100%;
  border-radius: 50%;
  filter: invert(1);
  transition: 1s;
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm{
  padding-top: var(--bs-gutter-x, 1.75rem);
}
.w-testimonio {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-right: var(--bs-gutter-x,6.75rem);
  padding-left: var(--bs-gutter-x,6.75rem);

}
.w-testimonio img {
  width: 250px;
  height: 250px;
  padding: 5px;
  background: linear-gradient(to left, #113E62, #0e8bc7);
  border-radius: 50%;
  margin-bottom: 2rem;
  object-fit: cover;
}
.testimonio .slick-prev,.testimonio .slick-next{
  z-index: 9;
}
.slick-prev:before,{
  content: "←";
}
.slick-next:before{
  content: "→";
}
.slick-prev:before, .slick-next:before {
  font-size: 21px;
  background: white;
  color: #0e5981!important;
  padding: 8px;
  border-radius: 50%;
  transition: 1s;
}
.slick-prev:hover.slick-prev:before, .slick-next:hover.slick-next:before {
  color: white!important;
  background: linear-gradient(to left, #113E62, #0e8bc7);
}
.testimonio .slick-prev{
left: 0;
}
.testimonio .slick-next{
  right: 0;
}
section.opiniones{
  padding-top: var(--bs-gutter-x,0.75rem);
  padding-bottom: var(--bs-gutter-x,6.75rem);
  border-bottom: 1px solid #0f577d;
}